test = False # If True, only run on orders with 'test' in the order number, use test creds for TAW

test_taw_username = #TAW TEST ACCOUNT USERNAME#
test_taw_password = #TAW TEST ACCOUNT PASSWORD#

live_taw_username = #TAW PRODUCTION ACCOUNT USERNAME#
live_taw_password = #TAW PRODUCTION ACCOUNT PASSWORD#

if test:
    taw_username = test_taw_username
    taw_password = test_taw_password
else:
    taw_username = live_taw_username
    taw_password = live_taw_password

taw_url = #TAW API SERVICES URL#

ord_test_auth = #TEST ORDORO AUTH KEY#
ord_live_auth = #LIVE ORDORO AUTH KEY#

if test:
    ord_auth = ord_test_auth
else:
    ord_auth = ord_live_auth

ord_url = #ORDER-RELATED ORDORO API URL#
ord_legacy_url = #NON-ORDER-RELATED ORDORO API URL#